body {
    / line-height: 1.5em; /
    margin: 0;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background: url(/Content/Img/97E63D55-EEFF-4013-881C-A4BB7686E1D8.png);*/
}
h2 {
    text-align: center;
}
a {
    text-decoration: none;
    color: #fff;
}
.container {
    width: 300px;
    margin-bottom: 10px;
    position: relative;
}
.login_id_pw {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.login_id_pw label {
    / border: 1px solid red; */
    display: flex;
    width: 64px;
    align-items: center;
}
.login_id_pw input {
    border: 1px solid lightgray;
    height: 40px;
    width: 220px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    outline: none;
    transition: 0.3s;
}
.login_id_pw input:focus::placeholder {
    visibility: hidden;
  }
.login_id_pw input:focus {
    border: 1px solid dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
}
.login_btn {
    display: flex;
    justify-content: right;
    margin: 20px 0;
    height: 25px;
}
.login_btn button {
    border: 1px solid lightgray;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;

}
.login_btn button:hover {
    background-color: dodgerblue;
    color: #fff;
    transition: 0.5s;
}
.other_login {
    float: right;
}
.other_login a {
    color: blue;
    font-size: 12px;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    padding-right: 5px;
}
.other_login a:nth-child(2) {
    border-right: none;
    border-right: 0;
}

