
@{
    ViewBag.Title = "배송지 수정";
    Layout = null;
}
<!DOCTYPE html>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<html>
<head>

</head>
<body>
    <div>
        <label>배송지 수정</label>
    </div>
    <hr />
    <div>
        <label>이름</label>
        <input type="text" name="UserName" id="UserName" />
        <label>주소</label>
        <input type="text" id="zipcode" name="AddrPost" placeholder="우편번호" readonly /><input type="button" onclick="addrsearch();" class="btn btn-primary" value="주소 검색">
        <input type="text" id="AddrBase" name="AddrBase" placeholder="기본주소" readonly />
        <input type="text" id="AddrDtl" name="AddrDtl" placeholder="상세주소" />
        <label>전화번호</label>
        <input type="text" name="UserTelNum" id="UserTelNum" placeholder="- 제외하고 입력" />
    </div>
    <hr />
    <div>
        <button onclick="AddrUpd()">확인</button>
        <button onclick="window.close()">취소</button>
    </div>
</body>
</html>
<script type="text/javascript">
    //주소검색
    function addrsearch() {
        new daum.Postcode({
            oncomplete: function (data) {
                console.log(data);
                var roadAddr = data.roadAddress; //도로명 주소 변수
                var jibunAddr = data.jibunAddress; //지번 주소 변수
                document.getElementById('zipcode').value = data.zonecode;
                if (roadAddr !== '') {
                    document.getElementById('AddrBase').value = roadAddr;
                } else if (jibunAddr !== '') {
                    document.getElementById('AddrBase').value = jibunAddr;
                }
            }
        }).open();
    }
    function AddrUpd() {
        var strUserName   = document.getElementById("UserName").value;
        var strAddrPost   = document.getElementById("zipcode").value;
        var strAddrBase   = document.getElementById("AddrBase").value;
        var strAddrDtl    = document.getElementById("AddrDtl").value;
        var strUserTelNum = document.getElementById("UserTelNum").value;

        $.ajax({
            url: '@Url.Action("AddrUpdate", "UserPurchase")',
            type: 'POST',
            data: {
                strUserName:   strUserName,
                strAddrPost:   strAddrPost,
                strAddrBase:   strAddrBase,
                strAddrDtl:    strAddrDtl,
                strUserTelNum: strUserTelNum
            },
            success: function (result) {
                if (confirm('배송지를 수정 하시겠습니까?')) {
                    if (result.intRetVal == 0) {
                        alert(result.strRetMsg);
                        window.opener.location.reload();
                        window.close();
                    } else {
                        alert("수정 실패하였습니다.");
                    }
                } else {
                    return;
                }
            },
            error: function () {
                alert("서버 에러");
            }
        });
    }
</script>
