
@{
    ViewBag.Title = "ChargeFail";
}
<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="~/Content/css/ChargeFail.css">
<html>
<head>

</head>
<body>
    <div id="header"></div>

    <div class="container">
        <h2>캐시충전</h2>
        <div class="charge_check">
            <h4>충전 실패</h4>
            <div class="fail_msg">
                캐시 충전에 <span>실패</span>하였습니다.
            </div>
        </div>
        <div class="fail_reason">
            <div class="fail_reason_msg">
                <div>[999] 회원님은 캐시충전이 제한된 상태입니다.</div>
                <div>캐시충전 제한에 대한 자세한 내용은</div>
                <div>온라인 고객센터로 문의하여 주시기 바랍니다.</div>
                <div>감사합니다.</div>
            </div>
        </div>
        <div class="return_mypage_box">
            <div class="return_mypage">
                <a href="#">마이페이지</a>
            </div>
        </div>
    </div>
</body>
</html>