
@{
    ViewBag.Title = "충전성공";
}
<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="~/Content/css/ChargeSuccess.css">
<html>
<head>

</head>
<body>
    <div id="header"></div>

    <div class="container">
        <h2>캐시충전</h2>
        <div class="charge_check">
            <h4>충전 완료</h4>
            <div class="success_msg">
                캐시 충전이 성공적으로 <span>완료</span>되었습니다.
            </div>
        </div>
        <h4>잔액</h4>
        <div class="success_total">
            <div>충전수단 <span>신용카드</span></div>
            <div>결제일시 <span>2023-06-22 12:43:23</span></div>
            <div>충전금액 <span>200,000 캐시</span></div>
            <div>충전 후 잔액 <span>252,000 캐시</span></div>
        </div>
        <div class="other_menu_box">
            <div class="other_menu">
                <a href="../Home/Main">홈으로</a>
            </div>
            <div class="other_menu">
                <a href="ChargeCash">한번 더 충전하기</a>
            </div>
        </div>
    </div>
</body>
</html>