
@{
    ViewBag.Title = "ChargeFail";
}
<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<html>
<head>

</head>
<body>
    <br /><br />
    <h3 style="text-align: center">캐시 충전</h3>
    <br /><br />
    <div>
        <label>충전 실패</label>
        <hr /><br />
        <div style="text-align: center">
            <b>캐시 충전에 <b style="color: #ff0000">실패</b>하였습니다.</b>
        </div>
        <br />
        <hr />
    </div>
    <br />
    <div style="text-align: center;">
        <b style="color: #ff0000">[999] 회원님은 캐시충전이 제한된 상태입니다.</b><br /><br />
        캐시충전 제한에 대한 자세한 내용은<br />
        온라인 고객센터로 문의하여 주시기 바랍니다.<br /><br />
        감사합니다.<br /><br />
    </div>
    <hr />
    <div style="text-align: center;">
        <button style="background-color: #000000; color: #ffffff; width: 350px; height: 40px" onclick="location.href = 'UserMyPage'">마이 페이지</button>
    </div>
</body>
</html>