@{
    ViewBag.Title = "캐시충전";
}
<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="~/Content/css/ChargeCash.css">
<html>
<head>

</head>
<body>
    <div id="header"></div>

    <div class="container">
        <h2>캐시충전</h2>
        <div class="total_cash">
            <h4>잔액</h4>
            <div class="balance_box">
                <div>총 보유잔액 <span>52,000캐시</span></div>
                <div>캐시 <span>50,000캐시</span></div>
                <div>보너스 <span>2,000캐시</span></div>
            </div>
        </div>
        <div class="charging_means">
            <div class="charging_means_div">충전수단</div>
            <input type="radio" name="means_button" id="means_tab1" value="creditcard" checked>
            <input type="radio" name="means_button" id="means_tab2" value="mobile">
            <input type="radio" name="means_button" id="means_tab3" value="virtualaccount">
            <input type="radio" name="means_button" id="means_tab4" value="kakaopay">
            <div class="means_tab">
                <label for="means_tab1">신용카드</label>
                <label for="means_tab2">휴대폰 결제</label>
                <label for="means_tab3">가상계좌</label>
                <label for="means_tab4">카카오페이</label>
            </div>
            <div class="charging_amount">
                <div>충전금액</div>
                <input type="radio" name="amount_button" id="amount_tab1" value="10000" checked>
                <input type="radio" name="amount_button" id="amount_tab2" value="30000" >
                <input type="radio" name="amount_button" id="amount_tab3" value="50000" >
                <input type="radio" name="amount_button" id="amount_tab4" value="70000" >
                <input type="radio" name="amount_button" id="amount_tab5" value="100000" >
                <input type="radio" name="amount_button" id="amount_tab6" value="200000" >
                <div class="amount_tab">
                    <label for="amount_tab1">KRW 11,000 (캐시10,000 + 1,000)</label>
                    <label for="amount_tab2">KRW 33,000 (캐시30,000 + 3,000)</label>
                    <label for="amount_tab3">KRW 55,000 (캐시50,000 + 5,000)</label>
                    <label for="amount_tab4">KRW 77,000 (캐시70,000 + 7,000)</label>
                    <label for="amount_tab5">KRW 110,000 (캐시100,000 + 10,000)</label>
                    <label for="amount_tab6">KRW 220,000 (캐시200,000 + 20,000)</label>
                </div>
            </div>
            <div class="checkbox">
                <div>
                    <input type="checkbox" name="agree" id="agree_btn1">
                    <span>결제 이용약관 동의 <a href="#">(약관 자세히 보기)</a></span>
                </div>
                <div>
                    <input type="checkbox" name="agree" id="agree_btn2">
                    <span>결제대행사 이용약관 및 결제정보 제공에 대한 동의 <a href="#">(자세히 보기)</a></span>
                </div>
            </div>
        </div>
        <div class="check_end_box">
            <div class="check_end">
                <a href="#">충전하기</a>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        if (!('@Session["strUserId"]')) {
            alert("로그인이 필요합니다.");
            location.href = "UserLogin";  // 로그인 페이지로 리다이렉트
        }
    });

    function checkAgreements() {
        var agree1 = document.getElementById('agree1').checked;
        var agree2 = document.getElementById('agree2').checked;

        if (!(agree1 && agree2)) {
            alert("전자금융거래 이용약관에 동의해주세요.");
            return false;
        }
        return true;
    }

    $(document).ready(function () {
        $('#charge').click(function (e) {
            e.preventDefault();

            if (checkAgreements()) {
                var chargingMethod = $("input[name='ChargingMethod']:checked").val();
                var chargeAmount = $("input[name='ChargeAmount']:checked").val();

                $.ajax({
                    url: '@Url.Action("ChargeCash", "Cash")',
                    type: 'POST',
                    data: JSON.stringify(
                        {
                            payMethod: chargingMethod,
                            itemPrice: chargeAmount,
                            itemName: '테스트 상품'
                        }),
                    dataType: "text",
                    contentType: "application/json; charset=utf-8",

                    success: function (data) {
                        if (data != null) {
                            openPayment(data);
                        } else {
                            alert('돌아가 !');
                        }
                    },
                    error: function (data) {
                        alert('안돼 돌아가');
                    }
                });
            }
        });
    });

    function openPayment(data) {
        var onlineUrl = data;
        var strReplace = data.replace(/\"/gi, "");
        window.open("https://testpg.payletter.com/pgsvc/hub.asp?location=online&token=" + strReplace, "결제", 'width=500, height=1000');
    }
</script>