
@{
    ViewBag.Title = "회원가입 성공";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserRegiSuccess</title>
</head>
<body>
    <div>
        <br />
        <br />
        <h3 style="text-align: center;">회원가입 성공</h3>
        <br />
        <br />
        <div>
            <label>회원가입 성공</label>
        </div>
        <hr />
        <br />
        <div style="text-align: center;">
            <b style="text-align: center;">회원가입에 <b style="color: #0094ff">성공</b>하였습니다.<br />로그인 후 이용해 주세요.</b>
        </div>
        <br />
        <hr />
        <br />
        <div style="text-align: center;">
            <button onclick="location.href='UserLogin'" style="background-color: #000000; color: #ffffff; width: 400px; height: 40px">로그인</button>
        </div>
        <br />
    </div>
</body>
</html>
