
@{
    ViewBag.Title = "마이페이지";
}
<!DOCTYPE html>
<link rel="stylesheet" href="~/Content/css/UserMyPage.css">
<html>
<head>

</head>
<body>
    <div id="header"></div>

    <div class="container">
        <h2>마이페이지</h2>
        <h4>잔액</h4>
        <div class="success_total">
            <div>총 보유 잔액 <span>@*@ViewBag.UserAcctInfo*@</span></div>
            <div>캐시 <span>@*@ViewBag.UserAcctInfo*@</span></div>
            <div>보너스 <span>@*@ViewBag.UserAcctInfo*@</span></div>
        </div>
        <div class="charge_cash">
            <button onclick="location.href='ChargeCash'">충전하기</button>
        </div>
        <div class="other_menu1">
            <a class="other_menu" href="UserPurHistory">
                <div>ORDER</div>
                <div>주문내역 조회</div>
            </a>
            <a class="other_menu" href="UserProFile">
                <div>PORFILE</div>
                <div>회원 정보</div>
            </a>
            <a class="other_menu" href="UserChargeHistory">
                <div>CHARGE HISTORY</div>
                <div>충전 내역</div>
            </a>
            <a class="other_menu" href="UserCouponHistory">
                <div>COUPON</div>
                <div>쿠폰함</div>
            </a>
            <a class="other_menu" href="UserGiftHistory">
                <div>GIFT</div>
                <div>선물함</div>
            </a>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        if (!('@Session["strUserId"]')) {
            alert("로그인이 필요합니다.");
            location.href = "UserLogin";  // 로그인 페이지로 리다이렉트
        }
    });
</script>