
@{
    ViewBag.Title = "CouponCheck";
}
<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<html>
<head>

</head>
<body>
    <div>
        <h3>쿠폰 조회</h3>
        <br /><br />
        <label><a href="Coupon">쿠폰 발급</a></label>
        <label><a href="CouponCheck"><b>쿠폰 조회</b></a></label>
        <label><a href="CouponValidation">쿠폰 유효성 체크</a></label>
        <hr />
        <div><label>쿠폰 단위</label></div>
        <div>
            <select name="intCpUnit" id="intCpUnit">
                <option value="">쿠폰 단위</option>
                <option value="1">10% 할인</option>
                <option value="2">20% 할인</option>
                <option value="3">30% 할인</option>
            </select>
        </div>
        <div class="box1"><label>사용 여부</label></div>
        <div class="box2">
            <select name="intCpState" id="intCpState">
                <option value="">쿠폰 상태</option>
                <option value="0">발급전</option>
                <option value="1">발급</option>
                <option value="2">사용전</option>
                <option value="3">사용후</option>
                <option value="4">사용불가</option>
            </select>
        </div>
        <hr />
        <button onclick="CouponCheck()">조회</button>
        <div>
            <hr />
            <table>
                <thead>
                    <tr>
                        <td>번호</td>
                        <td>쿠폰명</td>
                        <td>쿠폰종류</td>
                        <td>쿠폰번호</td>
                        <td>발급일</td>
                        <td>사용일</td>
                        <td>사용자 ID</td>
                        <td>상태</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</body>
</html>
<script>
    function CouponCheck() {
        var intCpUnit = document.getElementById('intCpUnit').value;
        var intCpState = document.getElementById('intCpState').value;

        $.ajax({
            url: '@Url.Action("CouponCheck", "AdminCoupon")',
            type: 'POST',
            data: {
                intCpUnit: intCpUnit,
                intCpState: intCpState
            },
            async: false,
            success: function (result) {
                if (confirm("아래 항목으로 조회 하시겠습니까?") == true)
                var tbody = $('table > tbody');
                tbody.empty();
                $.each(result.Coupon, function (i) {
                    tbody.append(
                    '<tr>' +
                        '<td>' + result.Coupon[i].intCpNo    + '</td>' +
                        '<td>' + result.Coupon[i].strCpName  + '</td>' +
                        '<td>' + '<a style="cursor: pointer"  onclick="CouponDtl(\'' + result.Coupon[i].strCpUnit + '\')">' + result.Coupon[i].strCpUnit + '</a>' + '</td>' +
                        '<td>' + result.Coupon[i].lngCpCode  + '</td>' +
                        '<td>' + result.Coupon[i].strRegDate + '</td>' +
                        '<td>' + result.Coupon[i].strUseDate + '</td>' +
                        '<td>' + result.Coupon[i].strUserId  + '</td>' +
                        '<td>' + result.Coupon[i].strCpState + '</td>' +
                    '</tr>');
                });
            },
            error: function () {
                alert('쿠폰 단위 혹은 상태를 입력해 주세요.');
            }
        });
    }
</script>